{% extends "main.html" %}
{% block content %}
<main>
     <style>
        div.ex3 {
        background-color: lightblue;
        height: 150;
        width: 250;  
        overflow-y: auto;
        }
    </style> 
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="border: 3px;">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Client in Wirless</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="small text-white"><i class="fas fa-angle-right"></i> จำนวนผู้ใช้งาน {{data2}} ผู้ใข้</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8" style="border: 3px;">.col-sm-8</div>
        </div>
        <div class="row">
            <div class="col-sm-8" style="border: 3px;">
                    <div class="spinner-grow text-muted"></div>
                    <div class="spinner-grow text-primary"></div>
                    <div class="spinner-grow text-success"></div>
                    <div class="spinner-grow text-info"></div>
                    <div class="spinner-grow text-warning"></div>
                    <div class="spinner-grow text-danger"></div>
                    <div class="spinner-grow text-secondary"></div>
                    <div class="spinner-grow text-dark"></div>
                    <div class="spinner-grow text-light"></div>
            </div>
            <div class="col-sm-4" style="border: 3px;">
                <div class="card bg-success text-white mb-4">
                <div class="card-body">Device UP</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class="fas fa-angle-right"></i> : 1000</div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
    
    </div>
  

    
        
         
       
</main>
{% endblock %}