{% extends "main.html" %}
{% block content %}
<main>
     <style>
        div.ex3 {
        background-color: lightblue;
        height: 150;
        width: 250;  
        overflow-y: auto;
        }
    </style> 
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard {{username}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Client in Wirless</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="small text-white"><i class="fas fa-angle-right"></i> จำนวนผู้ใช้งาน {{data2}} ผู้ใข้</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Device UP</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="small text-white"><i class="fas fa-angle-right"></i> : 1000</div>
                    </div>
                </div>
            </div>
            
            
        </div>
        </div>
    
        
         
       
</main>
{% endblock %}