{% extends "main.html" %}
{% block content %}
<main>
     <style>
        div.ex3 {
        background-color: lightblue;
        height: 150;
        width: 250;  
        overflow-y: auto;
        }
    </style> 
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard {{username}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Client in Wirless</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="small text-white"><i class="fas fa-angle-right"></i> จำนวนผู้ใช้งาน {{data2}} ผู้ใข้</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Device UP</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="small text-white"><i class="fas fa-angle-right"></i> : 1000</div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-md-6">
                <div class="ex3">
                    <ul class="list-group">
                        {% for x in hostname %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            IP : {{x.hostname}}
                        <span class="badge badge-primary badge-pill">Cpu : {{x.cpu_temp}}</span>
                        <span class="badge badge-primary badge-pill">Ram : {{x.ram_process}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>     
            </div>
        </div>
        </div>
    
        
         
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                         Total Inbound
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                        Total Outbound
                    </div>
                    <div class="card-body"><canvas id="myAreaChart1" width="50%" height="20"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                            Chart Device
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                            Chart Device
                    </div>
                    <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>    
         
        <!-- <div class="card mb-4"> -->
            <!-- <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                DataTable Example
            </div>
            Table -->
            <div class="card-body">
                <div class="card-body">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                            Interface
                    </div><br>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                
                                <tr>
                                    <th>Name</th>
                                    
                                </tr>
                               
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Uptime</th>
                                    <th>Insert Time</th>
                                   
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for x in hostname %}
                                <tr>
                                    <td><ul class="list-group">
                                        {% for x in hostname %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            IP : {{x.hostname}}
                                        <span class="badge badge-primary badge-pill">Cpu : {{x.cpu_temp}}</span>
                                        <span class="badge badge-primary badge-pill">Ram : {{x.ram_process}}</span>
                                        </li></td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Uptime</th>
                                <th>Insert Time</th>
                            </tr>
                           
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Uptime</th>
                                <th>Insert Time</th>
                               
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for qry in data %} 
                            <tr>
                                <td><a href="#">{{ qry.hostname }}</a></td>
                                <td>{{ qry.description }}</td>
                                <td>{{ qry.uptime }}</td>
                                <td>{{ qry.insert_time }}</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!--End Table-->
        <!-- </div> -->
    </div>
</main>
{% endblock %}