{% extends "main.html" %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Monitor</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
            <li class="breadcrumb-item active">Monitor</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Chart.js is a third party plugin that is used to generate the charts in this template. The charts below have been customized - for further customization options, please visit the official
                <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>
                .
            </div>
        </div>
        <div class="form-group">
            <label for="sel1">Select Device:</label>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        
                    </tr>
                    <thead>
                        <tbody>
                           <tr>
                                   
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Chart Device1
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="50px" height="50px"></canvas></div>
                                </div>
                            </div>
                      
                               
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                            Chart Device2
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart1" width="50px" height="50px"></canvas></div>
                                </div>
                            </tr>
                           
                                <tr>
                                
                                        <div class="card-header">
                                            <i class="fas fa-chart-area mr-1"></i>
                                                Chart Device3
                                        </div>
                                        <div class="card-body"><canvas id="myAreaChart2" width="50px" height="50px"></canvas></div>
                                    </div>
                                </div>
                           
                          
                                <div class="col-xl-6">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <i class="fas fa-chart-area mr-1"></i>
                                                Chart Device4
                                        </div>
                                        <div class="card-body"><canvas id="myAreaChart3" width="50px" height="50px"></canvas></div>
                                    </div>
                               </tr>
                         </tbody>
                    </div>
        
                </table>
        </div>  
    </div>
</main>
{% endblock %}