กด{% extends "main.html" %}
{% block content %}
<main>
    <div class="container-fluid" >
            <h1 class="mt-4">Report</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
                <li class="breadcrumb-item active">Report</li>
            </ol>
            <div class="card mb-3">
        
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">ลงทะเบียน</h3></div>
                                    {% if messages %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for message in messages %}
                                            {{message}}
        
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                   
                                    <!--FORM-->  
                                    <form action="/addUser" method="POST">
                                        {% csrf_token %} 
                                            <div class="form-group">
                                                <label for="email" class="mr-sm-2">Username :</label>
                                                <input class="form-control mb-2 mr-sm-2" name="username"  id="inputEmailAddress" type="text" placeholder="Enter your username" />
                                            <div class="form-group">
                                                <label for="email" class="mr-sm-2">First Name :</label>
                                                    <input type="text" name="firstname" class="form-control mb-2 mr-sm-2" placeholder="First Name">
                                                    <label for="email" class="mr-sm-2">Last Name :</label>
                                                    <input type="text" name="lastname"  class="form-control mb-2 mr-sm-2" placeholder="Last Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="mr-sm-2">Email :</label>
                                                <input class="form-control mb-2 mr-sm-2" name="email"  id="inputEmailAddress" type="email" placeholder="Enter your username" />
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="mr-sm-2">Password :</label>
                                                    
                                                <input class="form-control mb-2 mr-sm-2" name="password"  id="inputPassword" type="password" placeholder="Enter password" />
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="mr-sm-2">Re-Password :</label>
                                                <input class="form-control mb-2 mr-sm-2" name="repassword" id="inputPassword" type="password" placeholder="Enter password" />
                                            </div>
                                            
                                            </div>
                                            <button class="btn btn-outline-success">Register</button>
                                            </div>
                                        </form>
                                        
                                   
้     

</main>
{% endblock %}
